@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="display-3" style="color: #2f2f3f">@ViewData["Title"]</h1>
<br></br>

<h1 style="color: #2f2f3f">Our Mission</h1>
<p style="color: #2f2f3f">Gardella Industries offers cutting edge solutions to the world's most complex technological conundrums. Our multifaceted approaches are delivered in, but not limited to, implementations of software, hardware, and 3D printing/CAD design.</p>
<br></br>

<h1 style="color: #2f2f3f">Our Vision</h1>
<p style="color: #2f2f3f">"If you work hard enough, long enough, and smart enough at a problem then inevitably you'll conquer it."</p>
<br></br>

<h1 style="color: #2f2f3f">Our Heritage</h1>
<p style="color: #2f2f3f">Gardella Industries began with an ambitious young software developer and his three cats. Founded in [TBD], it's been on the forefront of engineering consultancy ever since.</p>
