@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="display-3" style="color: #222233; margin-left: 20px">@ViewData["Title"]</h1>
<br></br>

<div class="flex-container">
    <div class="flex-child">
        <h1 style="color: #222233">Our Mission</h1>
        <p style="color: #222233">Gardella Industries offers cutting edge solutions to the world's most complex technological conundrums. Our multifaceted approaches are delivered in, but not limited to, implementations of software, hardware, and 3D printing/CAD design.</p>
        <br></br>

        <h1 style="color: #222233">Our Vision</h1>
        <p style="color: #222233">"If you work hard enough, long enough, and smart enough at a problem then inevitably you'll conquer it."</p>
        <br></br>

        <h1 style="color: #222233">Our Heritage</h1>
        <p style="color: #222233">Gardella Industries began with an ambitious young software developer and his three cats. Founded in [TBD], it's been on the forefront of engineering consultancy ever since.</p>
    </div>

    <div class="flex-child">
        <iframe width="450"
                height="450"
                style="border:0"
                loading="eager"
                justify-content="center"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZxnYUrVOjqMpvGds1_xyhaaCulV8gma0
                    &q=Queen+City+Square,Cincinnati+OH">
        </iframe>
    </div>
</div>