@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1 class="display-3">@ViewData["Title"]</h1>
<br></br>

<div style="display: flex; justify-content: space-around">

    <div>
        <br></br>
        <h5>Email: Contact@GardellaIndustries.com</h5>
        <h5>Phone: (513)555-5555</h5>
        <h5>Address: 123 Fake Street, Cincinnati, OH, USA</h5>
        <br></br>
    </div>

    <div>
        <iframe
            width="450"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZxnYUrVOjqMpvGds1_xyhaaCulV8gma0
            &q=Space+Needle,Seattle+WA">
        </iframe>

    </div>

</div
