@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1 class="display-3" style="color: #2f2f3f">@ViewData["Title"]</h1>

<div>
    <br></br>
    <h5 style="color: #2f2f3f">Inquire@GardellaIndustries.com</h5>
    <h5 style="color: #2f2f3f">(513) 555-5555</h5>
    <h5 style="color: #2f2f3f">123 Fake Street, Cincinnati, OH, USA</h5>
    <br></br>
    <iframe width="450"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZxnYUrVOjqMpvGds1_xyhaaCulV8gma0
        &q=Space+Needle,Seattle+WA">
    </iframe>

</div>