@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1 class="display-3" style="color: #222233; margin-left: 20px">@ViewData["Title"]</h1>
<br/></br>
<div class="flex-container">
    <div class="flex-child" flex="3">
        <h5 style="color: #222233">Inquire@GardellaIndustries.com</h5>
        <h5 style="color: #222233">(513) 555-5555</h5>
        <h5 style="color: #222233">301 E 3rd St, Cincinnati, OH, USA</h5>
        
    </div>

    <div class="flex-child">


    </div>

    <div class="flex-child">
        <a class="twitter-timeline" data-width="300" data-height="450" data-dnt="true" data-theme="dark" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>