@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br></br>
    <h1 class="display-2" style="color: #2f2f3f">Gardella Industries</h1>
    <br></br>
    <br></br>
    <br></br>
    <h1 class="display-4" style="color: #2f2f3f">Welcome</h1>
    <br></br>
</div>
