@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center position-relative">
    <br></br>
    <br></br>
    <h1 class="display-2" style="color: #222233">Gardella Industries</h1>
    <br></br>
    <br></br>
    <h1 class="display-4" style="color: #222233">Welcome</h1>
</div>
