@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-3" style="color: #222233; margin-left: 20px">@ViewData["Title"]</h1>

<br></br>
<div class="flex-container">
    <div class="flex-child">
        <p style="color: #222233">It's rude to use the urinal right next to someone else if you are the only two at a row of them and it's avoidable.</p>
    </div>
    <div class="flex-child">

    </div>
</div>