@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1 class="display-3">@ViewData["Title"]</h1>
<br></br>
<h2><a href="https://github.com/VikramGardella/n95-respirator-3d-model-data">Reusable N95 Respirator</a></h2>
<h2><a href="https://github.com/VikramGardella/Universal-EHR-System">Mac OS Cocoa App</a></h2>
<h2><a href="https://github.com/VikramGardella/Spiderbot-Gallery">Spiderbot</a></h2>
<h2><a href="https://github.com/VikramGardella/Handbot-3D-Model-Data">Handbot</a></h2>
<h2><a href="https://github.com/VikramGardella/Tankbot-Gallery">Tankbot</a></h2>
