@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1 class="display-3" style="color: #2f2f3f">@ViewData["Title"]</h1>
<br></br>
<h2><a href="https://github.com/VikramGardella/n95-respirator-3d-model-data" style="color: #2f2f3f">Reusable N95 Respirator</a></h2>
<h2><a href="https://github.com/VikramGardella/Universal-EHR-System" style="color: #2f2f3f">Mac OS Cocoa App</a></h2>
<h2><a href="https://github.com/VikramGardella/Spiderbot-Gallery" style="color: #2f2f3f">Spiderbot</a></h2>
<h2><a href="https://github.com/VikramGardella/Handbot-3D-Model-Data" style="color: #2f2f3f">Handbot</a></h2>
<h2><a href="https://github.com/VikramGardella/Tankbot-Gallery" style="color: #2f2f3f">Tankbot</a></h2>
