@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1 class="display-3" style="color: #222233; margin-left: 20px">@ViewData["Title"]</h1>
<br></br>
<div class="flex-container">
    <div class="flex-child">
        <h2><a href="https://github.com/VikramGardella/n95-respirator-3d-model-data" style="color: #222233">Reusable N95 Respirator</a></h2>
        <h2><a href="https://github.com/VikramGardella/Universal-EHR-System" style="color: #222233">Mac OS Cocoa App</a></h2>
        <h2><a href="https://github.com/VikramGardella/Spiderbot-Gallery" style="color: #222233">Spiderbot</a></h2>
        <h2><a href="https://github.com/VikramGardella/Handbot-3D-Model-Data" style="color: #222233">Handbot</a></h2>
        <h2><a href="https://github.com/VikramGardella/Tankbot-Gallery" style="color: #222233">Tankbot</a></h2>
    </div>
</div>