@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h1 class="display-3" style="color: #222233; margin-left: 20px">@ViewData["Title"]</h1>
<br></br>
<div class="flex-container">
    <div class="flex-child">
        <h1 style="color: #222233">Software Development</h1>
        <ul style="color: #222233">
            <li>Web App Design</li>
            <li>Algorithmic Solutions for Data Analysis</li>
            <li>Data Migration Scripting</li>
            <li>Windows Desktop App Development</li>
            <li>Mac OS Desktop App Development</li>
            <li>iOS App Development</li>
        </ul>

        <h1 style="color: #222233">Hardware Design</h1>
        <ul style="color: #222233">
            <li>Microcontroller/Microprocessors Solutions</li>
            <li>Circuit Design</li>
            <li>Processor Architecture Design</li>
        </ul>

        <h1 style="color: #222233">3D Printing & CAD Modeling</h1>
        <ul style="color: #222233">
            <li>Custom Parts Design for Various Situations</li>
            <li>Injection Mold Design for Mass Production</li>
        </ul>
    </div>
    <div class="flex-child">

    </div>
</div>