@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h1 class="display-3">@ViewData["Title"]</h1>
<br></br>
<h1>Software</h1>
<ul>
    <li>Web App Design</li>
    <li>Algorithmic Solutions for Data Analysis</li>
    <li>Data Migration Scripting</li>
    <li>Windows Desktop App Development</li>
    <li>Mac OS Desktop App Development</li>
    <li>iOS App Development</li>
</ul>

<h1>Hardware</h1>
<ul>
    <li>Microcontroller/Microprocessors Solutions</li>
    <li>Circuit Design</li>
    <li>Processor Architecture Design</li>
</ul>

<h1>3D Printing & CAD Modeling</h1>
<ul>
    <li>Custom Parts Design for Various Situations</li>
    <li>Injection Mold Design for Mass Production</li>
</ul>
