@page
@model TermsModel
@{
    ViewData["Title"] = "Terms & Conditions";
}
<h1 class="display-3" style="color: #222233; margin-left: 20px">@ViewData["Title"]</h1>
<br></br>
<div class="flex-container">
    <div class="flex-child">
        <h5 style="color: #222233">Scoliosis</h5>
        <p style="color: #222233">A symptom of web development.</p>
        <h5 style="color: #222233">Arthritis</h5>
        <p style="color: #222233">Another symptom of web development.</p>
    </div>
    <div class="flex-child">

    </div>
</div>