@page
@model TermsModel
@{
    ViewData["Title"] = "Terms & Conditions";
}
<h1 class="display-4" style="color: #2f2f3f">@ViewData["Title"]</h1>

<p style="color: #2f2f3f">Use this page to detail your site's privacy policy.</p>
